<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>event</key>
	<array>
		<dict>
			<key>DtEnd</key>
			<string>20170106</string>
			<key>DtStart</key>
			<string>20161230</string>
			<key>Summary</key>
			<string>1052第二階段電腦選課</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170604</string>
			<key>DtStart</key>
			<string>20170603</string>
			<key>Summary</key>
			<string>端午節調整放假補行上班</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160927</string>
			<key>DtStart</key>
			<string>20160920</string>
			<key>Summary</key>
			<string>1051人工特殊加選及超修學分申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160827</string>
			<key>DtStart</key>
			<string>20160822</string>
			<key>Summary</key>
			<string>1051新生申請學分抵免</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170704</string>
			<key>DtStart</key>
			<string>20170703</string>
			<key>Summary</key>
			<string>105暑修第一期開始上課</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170530</string>
			<key>DtStart</key>
			<string>20170525</string>
			<key>Summary</key>
			<string>1061電腦選課抽籤作業</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170519</string>
			<key>DtStart</key>
			<string>20170512</string>
			<key>Summary</key>
			<string>1061第一階段電腦選課</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170520</string>
			<key>DtStart</key>
			<string>20170515</string>
			<key>Summary</key>
			<string>105暑修第一期登記</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170801</string>
			<key>DtStart</key>
			<string>20170731</string>
			<key>Summary</key>
			<string>第二學期結束；研究生學位論文繳交截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170722</string>
			<key>DtStart</key>
			<string>20170717</string>
			<key>Summary</key>
			<string>研究所新生床位保留申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170708</string>
			<key>DtStart</key>
			<string>20170707</string>
			<key>Summary</key>
			<string>畢業典禮補假1日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170711</string>
			<key>DtStart</key>
			<string>20170703</string>
			<key>Summary</key>
			<string>105暑修第二期登記</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170705</string>
			<key>DtStart</key>
			<string>20170704</string>
			<key>Summary</key>
			<string>學雜費減免第二階段開放申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170630</string>
			<key>DtStart</key>
			<string>20170629</string>
			<key>Summary</key>
			<string>暑期住宿宿舍開放</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170630</string>
			<key>DtStart</key>
			<string>20170628</string>
			<key>Summary</key>
			<string>學生宿舍關閉</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170626</string>
			<key>DtStart</key>
			<string>20170625</string>
			<key>Summary</key>
			<string>暑假開始</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170625</string>
			<key>DtStart</key>
			<string>20170618</string>
			<key>Summary</key>
			<string>學期考試</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170616</string>
			<key>DtStart</key>
			<string>20170616</string>
			<key>Summary</key>
			<string>各學制申請休學截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170617</string>
			<key>DtStart</key>
			<string>20170612</string>
			<key>Summary</key>
			<string>研究所新生暑期住宿申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170611</string>
			<key>DtStart</key>
			<string>20170610</string>
			<key>Summary</key>
			<string>畢業典禮（全校正常上班上課）</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170616</string>
			<key>DtStart</key>
			<string>20170609</string>
			<key>Summary</key>
			<string>1052第二階段電腦選課</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170609</string>
			<key>DtStart</key>
			<string>20170608</string>
			<key>Summary</key>
			<string>世界海洋日，水上運動會</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170601</string>
			<key>DtStart</key>
			<string>20170531</string>
			<key>Summary</key>
			<string>博碩士生學位考試申請截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170531</string>
			<key>DtStart</key>
			<string>20170530</string>
			<key>Summary</key>
			<string>端午節</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170530</string>
			<key>DtStart</key>
			<string>20170529</string>
			<key>Summary</key>
			<string>端午節調整放假</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170527</string>
			<key>DtStart</key>
			<string>20170522</string>
			<key>Summary</key>
			<string>學生宿舍暑期住宿申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170528</string>
			<key>DtStart</key>
			<string>20170521</string>
			<key>Summary</key>
			<string>畢業生學期考試</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170509</string>
			<key>DtStart</key>
			<string>20170508</string>
			<key>Summary</key>
			<string>期中預警輸入截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170512</string>
			<key>DtStart</key>
			<string>20170505</string>
			<key>Summary</key>
			<string>1052期中退選</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170425</string>
			<key>DtStart</key>
			<string>20170424</string>
			<key>Summary</key>
			<string>期中預警輸入開始日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170506</string>
			<key>DtStart</key>
			<string>20170424</string>
			<key>Summary</key>
			<string>教育學程申請；下學期學雜費先期減免申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170422</string>
			<key>DtStart</key>
			<string>20170421</string>
			<key>Summary</key>
			<string>學分費繳交截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170506</string>
			<key>DtStart</key>
			<string>20170422</string>
			<key>Summary</key>
			<string>轉系申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170423</string>
			<key>DtStart</key>
			<string>20170416</string>
			<key>Summary</key>
			<string>期中考試</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170405</string>
			<key>DtStart</key>
			<string>20170404</string>
			<key>Summary</key>
			<string>兒童節、民族掃墓節</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170404</string>
			<key>DtStart</key>
			<string>20170403</string>
			<key>Summary</key>
			<string>兒童節補假</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170406</string>
			<key>DtStart</key>
			<string>20170331</string>
			<key>Summary</key>
			<string>敦親活動（教職員彈性休假，該日課程由教師自行擇期補課）</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170325</string>
			<key>DtStart</key>
			<string>20170320</string>
			<key>Summary</key>
			<string>舊生住宿資格排名順位籤號申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170313</string>
			<key>DtStart</key>
			<string>20170312</string>
			<key>Summary</key>
			<string>選課上網確認截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170401</string>
			<key>DtStart</key>
			<string>20170301</string>
			<key>Summary</key>
			<string>校內獎學金申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170309</string>
			<key>DtStart</key>
			<string>20170302</string>
			<key>Summary</key>
			<string>1052 人工特殊加選及超修學分申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170228</string>
			<key>DtStart</key>
			<string>20170227</string>
			<key>Summary</key>
			<string>和平紀念日調整放假</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170301</string>
			<key>DtStart</key>
			<string>20170228</string>
			<key>Summary</key>
			<string>和平紀念日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170222</string>
			<key>DtStart</key>
			<string>20170221</string>
			<key>Summary</key>
			<string>就學貸款申辦截止日，各學制學雜費減免申辦截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170224</string>
			<key>DtStart</key>
			<string>20170222</string>
			<key>Summary</key>
			<string>准假學生補註冊</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170302</string>
			<key>DtStart</key>
			<string>20170220</string>
			<key>Summary</key>
			<string>1052第三階段電腦選課</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170225</string>
			<key>DtStart</key>
			<string>20170220</string>
			<key>Summary</key>
			<string>舊生床位保留申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170222</string>
			<key>DtStart</key>
			<string>20170220</string>
			<key>Summary</key>
			<string>註冊</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170220</string>
			<key>DtStart</key>
			<string>20170219</string>
			<key>Summary</key>
			<string>各學制學生開始上課</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170219</string>
			<key>DtStart</key>
			<string>20170218</string>
			<key>Summary</key>
			<string>和平紀念日調整放假補行上班</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170220</string>
			<key>DtStart</key>
			<string>20170216</string>
			<key>Summary</key>
			<string>1052新生電腦選課</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170216</string>
			<key>DtStart</key>
			<string>20170215</string>
			<key>Summary</key>
			<string>就學貸款申辦開始日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170216</string>
			<key>DtStart</key>
			<string>20170215</string>
			<key>Summary</key>
			<string>寒轉新生註冊及新生說明會</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170215</string>
			<key>DtStart</key>
			<string>20170214</string>
			<key>Summary</key>
			<string>復學生註冊</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170222</string>
			<key>DtStart</key>
			<string>20170214</string>
			<key>Summary</key>
			<string>1052新生申請學分抵免</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170207</string>
			<key>DtStart</key>
			<string>20170206</string>
			<key>Summary</key>
			<string>研究生學位論文繳交截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170204</string>
			<key>DtStart</key>
			<string>20170202</string>
			<key>Summary</key>
			<string>教職員彈性休假</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170202</string>
			<key>DtStart</key>
			<string>20170201</string>
			<key>Summary</key>
			<string>第二學期開始</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170201</string>
			<key>DtStart</key>
			<string>20170131</string>
			<key>Summary</key>
			<string>第一學期結束</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170202</string>
			<key>DtStart</key>
			<string>20170127</string>
			<key>Summary</key>
			<string>除夕暨春節假期</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170206</string>
			<key>DtStart</key>
			<string>20170124</string>
			<key>Summary</key>
			<string>寒假期間部分宿舍關閉</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170127</string>
			<key>DtStart</key>
			<string>20170126</string>
			<key>Summary</key>
			<string>教職員彈性休假</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170116</string>
			<key>DtStart</key>
			<string>20170115</string>
			<key>Summary</key>
			<string>寒假開始</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170115</string>
			<key>DtStart</key>
			<string>20170108</string>
			<key>Summary</key>
			<string>學期考試</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170107</string>
			<key>DtStart</key>
			<string>20170106</string>
			<key>Summary</key>
			<string>1051各學制申請休學截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170103</string>
			<key>DtStart</key>
			<string>20170102</string>
			<key>Summary</key>
			<string>開國紀念日補假</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20170102</string>
			<key>DtStart</key>
			<string>20170101</string>
			<key>Summary</key>
			<string>開國紀念日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20161221</string>
			<key>DtStart</key>
			<string>20161216</string>
			<key>Summary</key>
			<string>1052電腦選課抽籤作業</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20161209</string>
			<key>DtStart</key>
			<string>20161202</string>
			<key>Summary</key>
			<string>1052第一階段電腦選課</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20161129</string>
			<key>DtStart</key>
			<string>20161128</string>
			<key>Summary</key>
			<string>期中預警輸入截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20161201</string>
			<key>DtStart</key>
			<string>20161130</string>
			<key>Summary</key>
			<string>博碩士生學位考試申請截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20161201</string>
			<key>DtStart</key>
			<string>20161123</string>
			<key>Summary</key>
			<string>1051期中退選</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20161126</string>
			<key>DtStart</key>
			<string>20161114</string>
			<key>Summary</key>
			<string>下學期學雜費第一階段先期減免申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20161126</string>
			<key>DtStart</key>
			<string>20161114</string>
			<key>Summary</key>
			<string>轉系申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20161115</string>
			<key>DtStart</key>
			<string>20161114</string>
			<key>Summary</key>
			<string>期中預警輸入開始日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20161112</string>
			<key>DtStart</key>
			<string>20161111</string>
			<key>Summary</key>
			<string>學分費繳交截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20161113</string>
			<key>DtStart</key>
			<string>20161106</string>
			<key>Summary</key>
			<string>期中考試</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20161016</string>
			<key>DtStart</key>
			<string>20161015</string>
			<key>Summary</key>
			<string>本校63週年校慶（全校正常上班上課），陸上運動會</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20161011</string>
			<key>DtStart</key>
			<string>20161010</string>
			<key>Summary</key>
			<string>國慶日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20161004</string>
			<key>DtStart</key>
			<string>20161003</string>
			<key>Summary</key>
			<string>選課上網確認截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20161018</string>
			<key>DtStart</key>
			<string>20160919</string>
			<key>Summary</key>
			<string>校內獎學金申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20161008</string>
			<key>DtStart</key>
			<string>20160912</string>
			<key>Summary</key>
			<string>弱勢助學計畫申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160921</string>
			<key>DtStart</key>
			<string>20160919</string>
			<key>Summary</key>
			<string>准假學生補註冊</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160915</string>
			<key>DtStart</key>
			<string>20160914</string>
			<key>Summary</key>
			<string>舊生就學貸款申辦截止日，各學制學雜費減免申辦截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160917</string>
			<key>DtStart</key>
			<string>20160916</string>
			<key>Summary</key>
			<string>中秋節調整放假</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160916</string>
			<key>DtStart</key>
			<string>20160915</string>
			<key>Summary</key>
			<string>中秋節</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160915</string>
			<key>DtStart</key>
			<string>20160913</string>
			<key>Summary</key>
			<string>各學制舊生註冊</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160920</string>
			<key>DtStart</key>
			<string>20160912</string>
			<key>Summary</key>
			<string>1051舊生 第三階段電腦選課</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160912</string>
			<key>DtStart</key>
			<string>20160911</string>
			<key>Summary</key>
			<string>各學制學生開始上課</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160911</string>
			<key>DtStart</key>
			<string>20160910</string>
			<key>Summary</key>
			<string>校慶補假1日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160920</string>
			<key>DtStart</key>
			<string>20160908</string>
			<key>Summary</key>
			<string>1051新生電腦選課</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160907</string>
			<key>DtStart</key>
			<string>20160906</string>
			<key>Summary</key>
			<string>新生安全日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160908</string>
			<key>DtStart</key>
			<string>20160907</string>
			<key>Summary</key>
			<string>日間學制學士班新生註冊、新生說明會、就學貸款申辦截止日、學雜費減免申辦截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160907</string>
			<key>DtStart</key>
			<string>20160906</string>
			<key>Summary</key>
			<string>日間學制研究所新生開學典禮、註冊、就學貸款申辦截止日、學雜費減免申辦截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160907</string>
			<key>DtStart</key>
			<string>20160906</string>
			<key>Summary</key>
			<string>日間學制大一新生入學典禮</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160906</string>
			<key>DtStart</key>
			<string>20160905</string>
			<key>Summary</key>
			<string>日間學制各班別新生體檢</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160905</string>
			<key>DtStart</key>
			<string>20160903</string>
			<key>Summary</key>
			<string>學生宿舍開放</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160904</string>
			<key>DtStart</key>
			<string>20160903</string>
			<key>Summary</key>
			<string>進修學士班及碩專班新生體檢、註冊、入學教育、就學貸款申辦截止日、學雜費減免申辦截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160904</string>
			<key>DtStart</key>
			<string>20160903</string>
			<key>Summary</key>
			<string>暑假結束</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160829</string>
			<key>DtStart</key>
			<string>20160828</string>
			<key>Summary</key>
			<string>祖父母節</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160821</string>
			<key>DtStart</key>
			<string>20160820</string>
			<key>Summary</key>
			<string>新生入學說明會暨新生家長日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160817</string>
			<key>DtStart</key>
			<string>20160811</string>
			<key>Summary</key>
			<string>大學部新生住宿申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160809</string>
			<key>DtStart</key>
			<string>20160808</string>
			<key>Summary</key>
			<string>復學生註冊</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160810</string>
			<key>DtStart</key>
			<string>20160804</string>
			<key>Summary</key>
			<string>研究所新生住宿電腦抽籤申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160802</string>
			<key>DtStart</key>
			<string>20160801</string>
			<key>Summary</key>
			<string>就學貸款申辦開始日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160802</string>
			<key>DtStart</key>
			<string>20160801</string>
			<key>Summary</key>
			<string>第一學期開始；104暑修第二期開始上課；</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160227</string>
			<key>DtStart</key>
			<string>20160222</string>
			<key>Summary</key>
			<string>1042第三階段電腦選課</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160221</string>
			<key>DtStart</key>
			<string>20160220</string>
			<key>Summary</key>
			<string>寒假結束</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160222</string>
			<key>DtStart</key>
			<string>20160221</string>
			<key>Summary</key>
			<string>各學制學生開始上課</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160603</string>
			<key>DtStart</key>
			<string>20160602</string>
			<key>Summary</key>
			<string>水上運動會</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160218</string>
			<key>DtStart</key>
			<string>20160217</string>
			<key>Summary</key>
			<string>復學生註冊</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160113</string>
			<key>DtStart</key>
			<string>20160106</string>
			<key>Summary</key>
			<string>學期考試</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20150802</string>
			<key>DtStart</key>
			<string>20150801</string>
			<key>Summary</key>
			<string>第一學期開始</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160114</string>
			<key>DtStart</key>
			<string>20160113</string>
			<key>Summary</key>
			<string>寒假開始</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160202</string>
			<key>DtStart</key>
			<string>20160201</string>
			<key>Summary</key>
			<string>第二學期開始</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160810</string>
			<key>DtStart</key>
			<string>20160801</string>
			<key>Summary</key>
			<string>1051輔系、雙主修申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160802</string>
			<key>DtStart</key>
			<string>20160801</string>
			<key>Summary</key>
			<string>研究生學位論文繳交截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160723</string>
			<key>DtStart</key>
			<string>20160718</string>
			<key>Summary</key>
			<string>研究所新生床位保留申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160709</string>
			<key>DtStart</key>
			<string>20160708</string>
			<key>Summary</key>
			<string>畢業典禮補假1日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160706</string>
			<key>DtStart</key>
			<string>20160705</string>
			<key>Summary</key>
			<string>學雜費減免第二階段開放申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160712</string>
			<key>DtStart</key>
			<string>20160704</string>
			<key>Summary</key>
			<string>104暑修第二期登記</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160705</string>
			<key>DtStart</key>
			<string>20160704</string>
			<key>Summary</key>
			<string>104暑修第一期開始上課</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160628</string>
			<key>DtStart</key>
			<string>20160627</string>
			<key>Summary</key>
			<string>暑期住宿宿舍開放</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160628</string>
			<key>DtStart</key>
			<string>20160626</string>
			<key>Summary</key>
			<string>學生宿舍關閉</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160627</string>
			<key>DtStart</key>
			<string>20160626</string>
			<key>Summary</key>
			<string>暑假開始</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160626</string>
			<key>DtStart</key>
			<string>20160619</string>
			<key>Summary</key>
			<string>學期考試</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160619</string>
			<key>DtStart</key>
			<string>20160618</string>
			<key>Summary</key>
			<string>畢業典禮（全校正常上班上課）</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160618</string>
			<key>DtStart</key>
			<string>20160617</string>
			<key>Summary</key>
			<string>1042各學制申請休學截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160618</string>
			<key>DtStart</key>
			<string>20160613</string>
			<key>Summary</key>
			<string>研究所新生暑期住宿申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160618</string>
			<key>DtStart</key>
			<string>20160611</string>
			<key>Summary</key>
			<string>1051第二階段電腦選課</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160611</string>
			<key>DtStart</key>
			<string>20160610</string>
			<key>Summary</key>
			<string>端午節調整放假</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160610</string>
			<key>DtStart</key>
			<string>20160609</string>
			<key>Summary</key>
			<string>端午節</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160609</string>
			<key>DtStart</key>
			<string>20160608</string>
			<key>Summary</key>
			<string>世界海洋日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160605</string>
			<key>DtStart</key>
			<string>20160604</string>
			<key>Summary</key>
			<string>端午節調整放假補行上班</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160601</string>
			<key>DtStart</key>
			<string>20160531</string>
			<key>Summary</key>
			<string>博碩士生學位考試申請截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160602</string>
			<key>DtStart</key>
			<string>20160530</string>
			<key>Summary</key>
			<string>1051電腦選課抽籤作業</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160528</string>
			<key>DtStart</key>
			<string>20160523</string>
			<key>Summary</key>
			<string>學生宿舍暑期住宿申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160529</string>
			<key>DtStart</key>
			<string>20160522</string>
			<key>Summary</key>
			<string>畢業生學期考試</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160524</string>
			<key>DtStart</key>
			<string>20160517</string>
			<key>Summary</key>
			<string>1051第一階段電腦選課</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160521</string>
			<key>DtStart</key>
			<string>20160516</string>
			<key>Summary</key>
			<string>104暑修第一期登記</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160517</string>
			<key>DtStart</key>
			<string>20160510</string>
			<key>Summary</key>
			<string>1042期中退選</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160507</string>
			<key>DtStart</key>
			<string>20160425</string>
			<key>Summary</key>
			<string>下學期學雜費先期減免申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160507</string>
			<key>DtStart</key>
			<string>20160425</string>
			<key>Summary</key>
			<string>教育學程申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160510</string>
			<key>DtStart</key>
			<string>20160425</string>
			<key>Summary</key>
			<string>期中預警輸入</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160506</string>
			<key>DtStart</key>
			<string>20160422</string>
			<key>Summary</key>
			<string>轉系申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160423</string>
			<key>DtStart</key>
			<string>20160422</string>
			<key>Summary</key>
			<string>學分費繳交截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160424</string>
			<key>DtStart</key>
			<string>20160417</string>
			<key>Summary</key>
			<string>期中考試</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160409</string>
			<key>DtStart</key>
			<string>20160408</string>
			<key>Summary</key>
			<string>五年一貫申請截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160406</string>
			<key>DtStart</key>
			<string>20160405</string>
			<key>Summary</key>
			<string>兒童節補假</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160405</string>
			<key>DtStart</key>
			<string>20160404</string>
			<key>Summary</key>
			<string>兒童節、民族掃墓節</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160407</string>
			<key>DtStart</key>
			<string>20160406</string>
			<key>Summary</key>
			<string>敦親活動（教職員彈性休假，該日課程由教師自行擇期補課）</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160402</string>
			<key>DtStart</key>
			<string>20160401</string>
			<key>Summary</key>
			<string>敦親活動（教職員彈性休假，該日課程由教師自行擇期補課）</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160319</string>
			<key>DtStart</key>
			<string>20160314</string>
			<key>Summary</key>
			<string>舊生住宿資格排名順位籤號申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160315</string>
			<key>DtStart</key>
			<string>20160314</string>
			<key>Summary</key>
			<string>選課上網確認截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160401</string>
			<key>DtStart</key>
			<string>20160301</string>
			<key>Summary</key>
			<string>校內獎學金申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160308</string>
			<key>DtStart</key>
			<string>20160301</string>
			<key>Summary</key>
			<string>1042 人工特殊加選及超修學分申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160301</string>
			<key>DtStart</key>
			<string>20160229</string>
			<key>Summary</key>
			<string>和平紀念日補假</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160229</string>
			<key>DtStart</key>
			<string>20160228</string>
			<key>Summary</key>
			<string>和平紀念日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160224</string>
			<key>DtStart</key>
			<string>20160223</string>
			<key>Summary</key>
			<string>就學貸款申辦截止日，各學制學雜費減免申辦截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160227</string>
			<key>DtStart</key>
			<string>20160222</string>
			<key>Summary</key>
			<string>舊生床位保留申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160224</string>
			<key>DtStart</key>
			<string>20160222</string>
			<key>Summary</key>
			<string>註冊</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160219</string>
			<key>DtStart</key>
			<string>20160218</string>
			<key>Summary</key>
			<string>寒轉新生註冊及新生說明會</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160220</string>
			<key>DtStart</key>
			<string>20160215</string>
			<key>Summary</key>
			<string>1042新生電腦選課</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160223</string>
			<key>DtStart</key>
			<string>20160215</string>
			<key>Summary</key>
			<string>1042新生申請學分抵免</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160213</string>
			<key>DtStart</key>
			<string>20160212</string>
			<key>Summary</key>
			<string>春節假期調整放假</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160212</string>
			<key>DtStart</key>
			<string>20160211</string>
			<key>Summary</key>
			<string>除夕補假</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160211</string>
			<key>DtStart</key>
			<string>20160207</string>
			<key>Summary</key>
			<string>除夕暨春節假期</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160206</string>
			<key>DtStart</key>
			<string>20160205</string>
			<key>Summary</key>
			<string>教職員彈性休假</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160220</string>
			<key>DtStart</key>
			<string>20160201</string>
			<key>Summary</key>
			<string>1042輔系、雙主修申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160215</string>
			<key>DtStart</key>
			<string>20160204</string>
			<key>Summary</key>
			<string>寒假期間部分宿舍關閉</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160202</string>
			<key>DtStart</key>
			<string>20160201</string>
			<key>Summary</key>
			<string>研究生學位論文繳交截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160201</string>
			<key>DtStart</key>
			<string>20160131</string>
			<key>Summary</key>
			<string>第一學期結束</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160131</string>
			<key>DtStart</key>
			<string>20160130</string>
			<key>Summary</key>
			<string>教職員彈性休假</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160224</string>
			<key>DtStart</key>
			<string>20160115</string>
			<key>Summary</key>
			<string>就學貸款申辦</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160106</string>
			<key>DtStart</key>
			<string>20160105</string>
			<key>Summary</key>
			<string>1041各學制申請休學截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160102</string>
			<key>DtStart</key>
			<string>20160101</string>
			<key>Summary</key>
			<string>開國紀念日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20160106</string>
			<key>DtStart</key>
			<string>20151230</string>
			<key>Summary</key>
			<string>1042第二階段電腦選課</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20151219</string>
			<key>DtStart</key>
			<string>20151216</string>
			<key>Summary</key>
			<string>1042電腦選課抽籤作業</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20151211</string>
			<key>DtStart</key>
			<string>20151204</string>
			<key>Summary</key>
			<string>1042第一階段電腦選課</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20151231</string>
			<key>DtStart</key>
			<string>20151130</string>
			<key>Summary</key>
			<string>博碩士生學位考試申請截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20151204</string>
			<key>DtStart</key>
			<string>20151127</string>
			<key>Summary</key>
			<string>1041期中退選</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20151126</string>
			<key>DtStart</key>
			<string>20151112</string>
			<key>Summary</key>
			<string>下學期學雜費第一階段先期減免申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20151126</string>
			<key>DtStart</key>
			<string>20151111</string>
			<key>Summary</key>
			<string>期中預警輸入</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20151126</string>
			<key>DtStart</key>
			<string>20151122</string>
			<key>Summary</key>
			<string>轉系申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20151107</string>
			<key>DtStart</key>
			<string>20151106</string>
			<key>Summary</key>
			<string>學分費繳交截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20151111</string>
			<key>DtStart</key>
			<string>20151104</string>
			<key>Summary</key>
			<string>期中考試</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20151024</string>
			<key>DtStart</key>
			<string>20151023</string>
			<key>Summary</key>
			<string>校慶補假</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20151023</string>
			<key>DtStart</key>
			<string>20151022</string>
			<key>Summary</key>
			<string>五年一貫申請截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20151018</string>
			<key>DtStart</key>
			<string>20151017</string>
			<key>Summary</key>
			<string>本校62週年校慶（全校正常上班上課）</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20151018</string>
			<key>DtStart</key>
			<string>20151017</string>
			<key>Summary</key>
			<string>陸上運動會</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20151011</string>
			<key>DtStart</key>
			<string>20151010</string>
			<key>Summary</key>
			<string>國慶日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20151010</string>
			<key>DtStart</key>
			<string>20151009</string>
			<key>Summary</key>
			<string>國慶日補假</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20150928</string>
			<key>DtStart</key>
			<string>20150927</string>
			<key>Summary</key>
			<string>中秋節</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20150929</string>
			<key>DtStart</key>
			<string>20150928</string>
			<key>Summary</key>
			<string>中秋節補假</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20151001</string>
			<key>DtStart</key>
			<string>20150930</string>
			<key>Summary</key>
			<string>選課上網確認截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20151015</string>
			<key>DtStart</key>
			<string>20150916</string>
			<key>Summary</key>
			<string>校內獎學金申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20150918</string>
			<key>DtStart</key>
			<string>20150917</string>
			<key>Summary</key>
			<string>新生幹部研習</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20150923</string>
			<key>DtStart</key>
			<string>20150916</string>
			<key>Summary</key>
			<string>1041人工特殊加選及超修學分申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20151006</string>
			<key>DtStart</key>
			<string>20150909</string>
			<key>Summary</key>
			<string>弱勢助學計畫申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20150911</string>
			<key>DtStart</key>
			<string>20150910</string>
			<key>Summary</key>
			<string>舊生就學貸款申辦截止日，各學制學雜費減免申辦截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20150916</string>
			<key>DtStart</key>
			<string>20150909</string>
			<key>Summary</key>
			<string>1041 第三階段電腦選課</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20150911</string>
			<key>DtStart</key>
			<string>20150909</string>
			<key>Summary</key>
			<string>各學制舊生註冊</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20150910</string>
			<key>DtStart</key>
			<string>20150909</string>
			<key>Summary</key>
			<string>各學制學生開始上課</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20150906</string>
			<key>DtStart</key>
			<string>20150905</string>
			<key>Summary</key>
			<string>暑假結束</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20150906</string>
			<key>DtStart</key>
			<string>20150905</string>
			<key>Summary</key>
			<string>進修學士班及碩專班新生體檢、註冊、新生說明會、就學貸款申辦截止日、學雜費減免申辦截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20150905</string>
			<key>DtStart</key>
			<string>20150904</string>
			<key>Summary</key>
			<string>日間學制學士班新生註冊、新生說明會、就學貸款申辦截止日、學雜費減免申辦截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20150904</string>
			<key>DtStart</key>
			<string>20150903</string>
			<key>Summary</key>
			<string>日間學制研究所新生開學典禮、註冊、就學貸款申辦截止日、學雜費減免申辦截止日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20150904</string>
			<key>DtStart</key>
			<string>20150903</string>
			<key>Summary</key>
			<string>日間學制大一新生入學典禮、品德知能施測調查、校園資源博覽會</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20150903</string>
			<key>DtStart</key>
			<string>20150902</string>
			<key>Summary</key>
			<string>日間學制各班別新生體檢</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20150902</string>
			<key>DtStart</key>
			<string>20150901</string>
			<key>Summary</key>
			<string>新生安全日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20150908</string>
			<key>DtStart</key>
			<string>20150901</string>
			<key>Summary</key>
			<string>1041新生電腦選課</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20150824</string>
			<key>DtStart</key>
			<string>20150823</string>
			<key>Summary</key>
			<string>祖父母節</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20150811</string>
			<key>DtStart</key>
			<string>20150806</string>
			<key>Summary</key>
			<string>研究所新生住宿電腦抽籤申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20150811</string>
			<key>DtStart</key>
			<string>20150810</string>
			<key>Summary</key>
			<string>復學生註冊</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20150905</string>
			<key>DtStart</key>
			<string>20150803</string>
			<key>Summary</key>
			<string>就學貸款申辦開始日</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20150830</string>
			<key>DtStart</key>
			<string>20150829</string>
			<key>Summary</key>
			<string>學生宿舍開放</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20150817</string>
			<key>DtStart</key>
			<string>20150812</string>
			<key>Summary</key>
			<string>大學部新生住宿申請</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20150825</string>
			<key>DtStart</key>
			<string>20150824</string>
			<key>Summary</key>
			<string>1041新生申請學分抵免</string>
		</dict>
		<dict>
			<key>DtEnd</key>
			<string>20150905</string>
			<key>DtStart</key>
			<string>20150803</string>
			<key>Summary</key>
			<string>103暑修第二期開始上課</string>
		</dict>
	</array>
	<key>version</key>
	<string>20170111142653</string>
</dict>
</plist>
