<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactInfo</key>
	<dict>
		<key>inner</key>
		<array>
			<dict>
				<key>email</key>
				<string></string>
				<key>name</key>
				<string>教官室(24H)</string>
				<key>phone</key>
				<string>0224629976</string>
			</dict>
			<dict>
				<key>email</key>
				<string></string>
				<key>name</key>
				<string>衛生保健組</string>
				<key>phone</key>
				<string>0224622192,1071</string>
			</dict>
			<dict>
				<key>email</key>
				<string></string>
				<key>name</key>
				<string>警衛室</string>
				<key>phone</key>
				<string>0224622192,1132</string>
			</dict>
			<dict>
				<key>email</key>
				<string>wendylin@mail.ntou.edu.tw</string>
				<key>name</key>
				<string>拍照寄給教官</string>
				<key>phone</key>
				<string></string>
			</dict>
		</array>
		<key>outer</key>
		<array>
			<dict>
				<key>email</key>
				<string></string>
				<key>name</key>
				<string>八斗子派出所</string>
				<key>phone</key>
				<string>0224692077</string>
			</dict>
			<dict>
				<key>email</key>
				<string></string>
				<key>name</key>
				<string>正濱派出所</string>
				<key>phone</key>
				<string>0224621889</string>
			</dict>
			<dict>
				<key>email</key>
				<string></string>
				<key>name</key>
				<string>基隆市警察局</string>
				<key>phone</key>
				<string>0224248141</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
