<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>學生專區</key>
		<array>
			<dict>
				<key>各科系館</key>
				<array>
					<dict>
						<key>id</key>
						<string>OCE</string>
						<key>latitude</key>
						<real>25.149881000000001</real>
						<key>longitude</key>
						<real>121.77333900000001</real>
						<key>name</key>
						<string>海洋環境資訊系館</string>
					</dict>
					<dict>
						<key>id</key>
						<string>MFE</string>
						<key>latitude</key>
						<real>25.150666999999999</real>
						<key>longitude</key>
						<real>121.772986</real>
						<key>name</key>
						<string>食品科學系工程館</string>
					</dict>
					<dict>
						<key>id</key>
						<string>FSH</string>
						<key>latitude</key>
						<real>25.149667000000001</real>
						<key>longitude</key>
						<real>121.772267</real>
						<key>name</key>
						<string>環境生物與漁業科學學系館</string>
					</dict>
					<dict>
						<key>id</key>
						<string>MFS</string>
						<key>latitude</key>
						<real>25.150791999999999</real>
						<key>longitude</key>
						<real>121.773644</real>
						<key>name</key>
						<string>食品科學系館</string>
					</dict>
					<dict>
						<key>id</key>
						<string>STM</string>
						<key>latitude</key>
						<real>25.149469</real>
						<key>longitude</key>
						<real>121.778464</real>
						<key>name</key>
						<string>航運管理學系館</string>
					</dict>
					<dict>
						<key>id</key>
						<string>TEC</string>
						<key>latitude</key>
						<real>25.149214000000001</real>
						<key>longitude</key>
						<real>121.777794</real>
						<key>name</key>
						<string>延平技術大樓</string>
					</dict>
					<dict>
						<key>id</key>
						<string>CLS</string>
						<key>latitude</key>
						<real>25.150589</real>
						<key>longitude</key>
						<real>121.77261900000001</real>
						<key>name</key>
						<string>生命科學院館</string>
					</dict>
					<dict>
						<key>id</key>
						<string>HR2、IMB</string>
						<key>latitude</key>
						<real>25.150133</real>
						<key>longitude</key>
						<real>121.782647</real>
						<key>name</key>
						<string>河工二館</string>
					</dict>
					<dict>
						<key>id</key>
						<string>HR1、HRE</string>
						<key>latitude</key>
						<real>25.150217000000001</real>
						<key>longitude</key>
						<real>121.78145000000001</real>
						<key>name</key>
						<string>河工一館</string>
					</dict>
					<dict>
						<key>id</key>
						<string>NVA、PFB</string>
						<key>latitude</key>
						<real>25.150355999999999</real>
						<key>longitude</key>
						<real>121.781025</real>
						<key>name</key>
						<string>系工系館</string>
					</dict>
					<dict>
						<key>id</key>
						<string>CE-</string>
						<key>latitude</key>
						<real>25.150649999999999</real>
						<key>longitude</key>
						<real>121.78085299999999</real>
						<key>name</key>
						<string>工學院館</string>
					</dict>
					<dict>
						<key>id</key>
						<string>EE1</string>
						<key>latitude</key>
						<real>25.150503</real>
						<key>longitude</key>
						<real>121.78057200000001</real>
						<key>name</key>
						<string>電機一館</string>
					</dict>
					<dict>
						<key>id</key>
						<string>INS、ELE</string>
						<key>latitude</key>
						<real>25.150911000000001</real>
						<key>longitude</key>
						<real>121.78013300000001</real>
						<key>name</key>
						<string>資工系及電機二館</string>
					</dict>
					<dict>
						<key>id</key>
						<string>MEA、CC3、CC4</string>
						<key>latitude</key>
						<real>25.150281</real>
						<key>longitude</key>
						<real>121.776436</real>
						<key>name</key>
						<string>機械一館及電算中心</string>
					</dict>
					<dict>
						<key>id</key>
						<string>MEB</string>
						<key>latitude</key>
						<real>25.150024999999999</real>
						<key>longitude</key>
						<real>121.776922</real>
						<key>name</key>
						<string>機械二館</string>
					</dict>
					<dict>
						<key>id</key>
						<string>NAV</string>
						<key>latitude</key>
						<real>25.149725</real>
						<key>longitude</key>
						<real>121.777642</real>
						<key>name</key>
						<string>商船系館</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>學生活動領域</key>
				<array>
					<dict>
						<key>id</key>
						<string>STA</string>
						<key>latitude</key>
						<real>25.149625</real>
						<key>longitude</key>
						<real>121.777006</real>
						<key>name</key>
						<string>育樂館</string>
					</dict>
					<dict>
						<key>id</key>
						<string>FRB</string>
						<key>latitude</key>
						<real>25.149031000000001</real>
						<key>longitude</key>
						<real>121.775178</real>
						<key>name</key>
						<string>第一餐廳</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.149805000000001</real>
						<key>longitude</key>
						<real>121.775722</real>
						<key>name</key>
						<string>海洋廳及展示廳</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.149177999999999</real>
						<key>longitude</key>
						<real>121.778897</real>
						<key>name</key>
						<string>大游泳池</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.149327</real>
						<key>longitude</key>
						<real>121.779522</real>
						<key>name</key>
						<string>溫水游泳池</string>
					</dict>
					<dict>
						<key>id</key>
						<string>LIB</string>
						<key>latitude</key>
						<real>25.150247</real>
						<key>longitude</key>
						<real>121.775481</real>
						<key>name</key>
						<string>圖書館</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.150127000000001</real>
						<key>longitude</key>
						<real>121.77991299999999</real>
						<key>name</key>
						<string>學生活動中心</string>
					</dict>
					<dict>
						<key>id</key>
						<string>GYM</string>
						<key>latitude</key>
						<real>25.150089000000001</real>
						<key>longitude</key>
						<real>121.779</real>
						<key>name</key>
						<string>體育館</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.150410999999998</real>
						<key>longitude</key>
						<real>121.7756</real>
						<key>name</key>
						<string>五楠書局</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.150569600000001</real>
						<key>longitude</key>
						<real>121.7775492</real>
						<key>name</key>
						<string>運動場</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.150192000000001</real>
						<key>longitude</key>
						<real>121.77311400000001</real>
						<key>name</key>
						<string>網球場</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.149172</real>
						<key>longitude</key>
						<real>121.775008</real>
						<key>name</key>
						<string>夢泉</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.148810999999998</real>
						<key>longitude</key>
						<real>121.775594</real>
						<key>name</key>
						<string>射箭場</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.151789999999998</real>
						<key>longitude</key>
						<real>121.775311</real>
						<key>name</key>
						<string>小艇碼頭</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>研究/實驗中心</key>
				<array>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.149260999999999</real>
						<key>longitude</key>
						<real>121.773681</real>
						<key>name</key>
						<string>海洋環境化學與生態研究所館</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.150141999999999</real>
						<key>longitude</key>
						<real>121.773533</real>
						<key>name</key>
						<string>臺灣藻類資源應用研發中心</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.149753</real>
						<key>longitude</key>
						<real>121.773661</real>
						<key>name</key>
						<string>養殖系溫室</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.150033000000001</real>
						<key>longitude</key>
						<real>121.78248600000001</real>
						<key>name</key>
						<string>海洋工程綜合實驗館</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.151197</real>
						<key>longitude</key>
						<real>121.775764</real>
						<key>name</key>
						<string>臨海工作站</string>
					</dict>
					<dict>
						<key>id</key>
						<string>GRC</string>
						<key>latitude</key>
						<real>25.150521999999999</real>
						<key>longitude</key>
						<real>121.77573099999999</real>
						<key>name</key>
						<string>綜合研究中心</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.150814</real>
						<key>longitude</key>
						<real>121.773411</real>
						<key>name</key>
						<string>陸生動物實驗中心</string>
					</dict>
					<dict>
						<key>id</key>
						<string>AAC</string>
						<key>latitude</key>
						<real>25.150911000000001</real>
						<key>longitude</key>
						<real>121.7794</real>
						<key>name</key>
						<string>水生動物實驗中心</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.149742</real>
						<key>longitude</key>
						<real>121.783208</real>
						<key>name</key>
						<string>大型空蝕水槽試驗館</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.149992000000001</real>
						<key>longitude</key>
						<real>121.778222</real>
						<key>name</key>
						<string>輪機工廠</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.149736000000001</real>
						<key>longitude</key>
						<real>121.777794</real>
						<key>name</key>
						<string>操船模擬機器室</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.150914</real>
						<key>longitude</key>
						<real>121.7791</real>
						<key>name</key>
						<string>臨海生物教學實驗場</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>學生宿舍</key>
				<array>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.148755999999999</real>
						<key>longitude</key>
						<real>121.774044</real>
						<key>name</key>
						<string>女生第一宿舍</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.148603000000001</real>
						<key>longitude</key>
						<real>121.779078</real>
						<key>name</key>
						<string>女生第二宿舍及男生第三宿舍</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.148586000000002</real>
						<key>longitude</key>
						<real>121.775325</real>
						<key>name</key>
						<string>男生第一宿舍</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.148572000000001</real>
						<key>longitude</key>
						<real>121.778881</real>
						<key>name</key>
						<string>男生第二宿舍</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.144303000000001</real>
						<key>longitude</key>
						<real>121.76648900000001</real>
						<key>name</key>
						<string>國際學生宿舍</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>教職員/綜合大樓</key>
		<array>
			<dict>
				<key>教職員宿舍</key>
				<array>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.144846999999999</real>
						<key>longitude</key>
						<real>121.750208</real>
						<key>name</key>
						<string>首長宿舍</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.144846999999999</real>
						<key>longitude</key>
						<real>121.766875</real>
						<key>name</key>
						<string>祥豐單身宿舍</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.144100000000002</real>
						<key>longitude</key>
						<real>121.76652799999999</real>
						<key>name</key>
						<string>職務宿舍(二期)</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.144164</real>
						<key>longitude</key>
						<real>121.76664700000001</real>
						<key>name</key>
						<string>職務宿舍(三期)</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>綜合館及大樓</key>
				<array>
					<dict>
						<key>id</key>
						<string>GH1</string>
						<key>latitude</key>
						<real>25.149666</real>
						<key>longitude</key>
						<real>121.772891</real>
						<key>name</key>
						<string>綜合一館</string>
					</dict>
					<dict>
						<key>id</key>
						<string>GH2</string>
						<key>latitude</key>
						<real>25.150599</real>
						<key>longitude</key>
						<real>121.774883</real>
						<key>name</key>
						<string>綜合二館</string>
					</dict>
					<dict>
						<key>id</key>
						<string>GH3</string>
						<key>latitude</key>
						<real>25.149386</real>
						<key>longitude</key>
						<real>121.77536600000001</real>
						<key>name</key>
						<string>綜合三館</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.150255999999999</real>
						<key>longitude</key>
						<real>121.776158</real>
						<key>name</key>
						<string>行政資訊大樓</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.150141000000001</real>
						<key>longitude</key>
						<real>121.773533</real>
						<key>name</key>
						<string>生科院辦公室</string>
					</dict>
					<dict>
						<key>id</key>
						<string>TEC</string>
						<key>latitude</key>
						<real>25.149213</real>
						<key>longitude</key>
						<real>121.777794</real>
						<key>name</key>
						<string>延平技術大樓</string>
					</dict>
					<dict>
						<key>id</key>
						<string>SAH</string>
						<key>latitude</key>
						<real>25.149469</real>
						<key>longitude</key>
						<real>121.778852</real>
						<key>name</key>
						<string>海空大樓</string>
					</dict>
					<dict>
						<key>id</key>
						<string>BOH</string>
						<key>latitude</key>
						<real>25.149802000000001</real>
						<key>longitude</key>
						<real>121.775086</real>
						<key>name</key>
						<string>人文大樓</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.150058000000001</real>
						<key>longitude</key>
						<real>121.772611</real>
						<key>name</key>
						<string>沛華大樓</string>
					</dict>
					<dict>
						<key>id</key>
						<string>MAF</string>
						<key>latitude</key>
						<real>25.149826999999998</real>
						<key>longitude</key>
						<real>121.774491</real>
						<key>name</key>
						<string>海事大樓甲棟</string>
					</dict>
					<dict>
						<key>id</key>
						<string>MAF</string>
						<key>latitude</key>
						<real>25.149405000000002</real>
						<key>longitude</key>
						<real>121.77459899999999</real>
						<key>name</key>
						<string>海事大樓乙棟</string>
					</dict>
					<dict>
						<key>id</key>
						<string>MAF</string>
						<key>latitude</key>
						<real>25.149327</real>
						<key>longitude</key>
						<real>121.774108</real>
						<key>name</key>
						<string>海事大樓丙棟</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>其他</key>
		<array>
			<dict>
				<key>校門口、警衛室</key>
				<array>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.149896999999999</real>
						<key>longitude</key>
						<real>121.780783</real>
						<key>name</key>
						<string>濱海變電站</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.150804999999998</real>
						<key>longitude</key>
						<real>121.772588</real>
						<key>name</key>
						<string>祥豐警衛室</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.150624000000001</real>
						<key>longitude</key>
						<real>121.776138</real>
						<key>name</key>
						<string>濱海校門</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.150815999999999</real>
						<key>longitude</key>
						<real>121.772475</real>
						<key>name</key>
						<string>祥豐校門</string>
					</dict>
					<dict>
						<key>id</key>
						<string></string>
						<key>latitude</key>
						<real>25.150594000000002</real>
						<key>longitude</key>
						<real>121.77584400000001</real>
						<key>name</key>
						<string>郵局</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
