<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<array>
		<dict>
			<key>StationCode</key>
			<string>05</string>
			<key>nameZh</key>
			<string>南港站</string>
		</dict>
		<dict>
			<key>StationCode</key>
			<string>10</string>
			<key>nameZh</key>
			<string>台北站</string>
		</dict>
		<dict>
			<key>StationCode</key>
			<string>15</string>
			<key>nameZh</key>
			<string>板橋站</string>
		</dict>
		<dict>
			<key>StationCode</key>
			<string>20</string>
			<key>nameZh</key>
			<string>桃園站</string>
		</dict>
		<dict>
			<key>StationCode</key>
			<string>25</string>
			<key>nameZh</key>
			<string>新竹站</string>
		</dict>
		<dict>
			<key>StationCode</key>
			<string>30</string>
			<key>nameZh</key>
			<string>苗栗站</string>
		</dict>
		<dict>
			<key>StationCode</key>
			<string>40</string>
			<key>nameZh</key>
			<string>台中站</string>
		</dict>
		<dict>
			<key>StationCode</key>
			<string>45</string>
			<key>nameZh</key>
			<string>彰化站</string>
		</dict>
		<dict>
			<key>StationCode</key>
			<string>50</string>
			<key>nameZh</key>
			<string>雲林站</string>
		</dict>
		<dict>
			<key>StationCode</key>
			<string>55</string>
			<key>nameZh</key>
			<string>嘉義站</string>
		</dict>
		<dict>
			<key>StationCode</key>
			<string>65</string>
			<key>nameZh</key>
			<string>台南站</string>
		</dict>
		<dict>
			<key>StationCode</key>
			<string>75</string>
			<key>nameZh</key>
			<string>左營站</string>
		</dict>
	</array>
</dict>
</plist>
