<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>locations</key>
	<array>
		<dict>
			<key>locationZh</key>
			<string>臺北/基隆</string>
			<key>stations</key>
			<array>
				<dict>
					<key>nameZh</key>
					<string>福隆</string>
					<key>station</key>
					<string>1810</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>貢寮</string>
					<key>station</key>
					<string>1809</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>雙溪</string>
					<key>station</key>
					<string>1808</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>牡丹</string>
					<key>station</key>
					<string>1807</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>三貂嶺</string>
					<key>station</key>
					<string>1806</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>猴硐</string>
					<key>station</key>
					<string>1805</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>瑞芳</string>
					<key>station</key>
					<string>1804</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>四腳亭</string>
					<key>station</key>
					<string>1803</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>暖暖</string>
					<key>station</key>
					<string>1802</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>基隆</string>
					<key>station</key>
					<string>1001</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>三坑</string>
					<key>station</key>
					<string>1029</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>八堵</string>
					<key>station</key>
					<string>1002</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>七堵</string>
					<key>station</key>
					<string>1003</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>百福</string>
					<key>station</key>
					<string>1030</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>五堵</string>
					<key>station</key>
					<string>1004</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>汐止</string>
					<key>station</key>
					<string>1005</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>汐科</string>
					<key>station</key>
					<string>1031</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>南港</string>
					<key>station</key>
					<string>1006</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>松山</string>
					<key>station</key>
					<string>1007</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>臺北</string>
					<key>station</key>
					<string>1008</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>萬華</string>
					<key>station</key>
					<string>1009</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>板橋</string>
					<key>station</key>
					<string>1011</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>浮洲</string>
					<key>station</key>
					<string>1032</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>樹林</string>
					<key>station</key>
					<string>1012</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>南樹林</string>
					<key>station</key>
					<string>1034</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>山佳</string>
					<key>station</key>
					<string>1013</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>鶯歌</string>
					<key>station</key>
					<string>1014</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>locationZh</key>
			<string>桃園</string>
			<key>stations</key>
			<array>
				<dict>
					<key>nameZh</key>
					<string>桃園</string>
					<key>station</key>
					<string>1015</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>內壢</string>
					<key>station</key>
					<string>1016</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>中壢</string>
					<key>station</key>
					<string>1017</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>埔心</string>
					<key>station</key>
					<string>1018</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>楊梅</string>
					<key>station</key>
					<string>1019</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>富岡</string>
					<key>station</key>
					<string>1020</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>locationZh</key>
			<string>新竹</string>
			<key>stations</key>
			<array>
				<dict>
					<key>nameZh</key>
					<string>北湖</string>
					<key>station</key>
					<string>1033</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>湖口</string>
					<key>station</key>
					<string>1021</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>新豐</string>
					<key>station</key>
					<string>1022</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>竹北</string>
					<key>station</key>
					<string>1023</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>北新竹</string>
					<key>station</key>
					<string>1024</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>新竹</string>
					<key>station</key>
					<string>1025</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>三姓橋</string>
					<key>station</key>
					<string>1035</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>香山</string>
					<key>station</key>
					<string>1026</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>locationZh</key>
			<string>苗栗</string>
			<key>stations</key>
			<array>
				<dict>
					<key>nameZh</key>
					<string>崎頂</string>
					<key>station</key>
					<string>1027</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>竹南</string>
					<key>station</key>
					<string>1028</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>談文</string>
					<key>station</key>
					<string>1102</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>大山</string>
					<key>station</key>
					<string>1104</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>後龍</string>
					<key>station</key>
					<string>1105</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>龍港</string>
					<key>station</key>
					<string>1106</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>白沙屯</string>
					<key>station</key>
					<string>1107</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>新埔</string>
					<key>station</key>
					<string>1108</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>通霄</string>
					<key>station</key>
					<string>1109</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>苑裡</string>
					<key>station</key>
					<string>1110</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>造橋</string>
					<key>station</key>
					<string>1302</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>豐富</string>
					<key>station</key>
					<string>1304</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>苗栗</string>
					<key>station</key>
					<string>1305</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>南勢</string>
					<key>station</key>
					<string>1307</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>銅鑼</string>
					<key>station</key>
					<string>1308</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>三義</string>
					<key>station</key>
					<string>1310</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>locationZh</key>
			<string>臺中</string>
			<key>stations</key>
			<array>
				<dict>
					<key>nameZh</key>
					<string>日南</string>
					<key>station</key>
					<string>1111</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>大甲</string>
					<key>station</key>
					<string>1112</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>臺中港</string>
					<key>station</key>
					<string>1113</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>清水</string>
					<key>station</key>
					<string>1114</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>沙鹿</string>
					<key>station</key>
					<string>1115</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>龍井</string>
					<key>station</key>
					<string>1116</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>大肚</string>
					<key>station</key>
					<string>1117</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>追分</string>
					<key>station</key>
					<string>1118</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>泰安</string>
					<key>station</key>
					<string>1314</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>后里</string>
					<key>station</key>
					<string>1315</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>豐原</string>
					<key>station</key>
					<string>1317</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>潭子</string>
					<key>station</key>
					<string>1318</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>太原</string>
					<key>station</key>
					<string>1323</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>臺中</string>
					<key>station</key>
					<string>1319</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>大慶</string>
					<key>station</key>
					<string>1322</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>烏日</string>
					<key>station</key>
					<string>1320</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>新烏日</string>
					<key>station</key>
					<string>1324</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>成功</string>
					<key>station</key>
					<string>1321</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>locationZh</key>
			<string>彰化</string>
			<key>stations</key>
			<array>
				<dict>
					<key>nameZh</key>
					<string>彰化</string>
					<key>station</key>
					<string>1120</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>花壇</string>
					<key>station</key>
					<string>1202</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>大村</string>
					<key>station</key>
					<string>1240</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>員林</string>
					<key>station</key>
					<string>1203</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>永靖</string>
					<key>station</key>
					<string>1204</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>社頭</string>
					<key>station</key>
					<string>1205</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>田中</string>
					<key>station</key>
					<string>1206</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>二水</string>
					<key>station</key>
					<string>1207</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>locationZh</key>
			<string>南投</string>
			<key>stations</key>
			<array>
				<dict>
					<key>nameZh</key>
					<string>源泉</string>
					<key>station</key>
					<string>2702</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>濁水</string>
					<key>station</key>
					<string>2703</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>龍泉</string>
					<key>station</key>
					<string>2704</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>集集</string>
					<key>station</key>
					<string>2705</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>水里</string>
					<key>station</key>
					<string>2706</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>車埕</string>
					<key>station</key>
					<string>2707</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>locationZh</key>
			<string>雲林</string>
			<key>stations</key>
			<array>
				<dict>
					<key>nameZh</key>
					<string>林內</string>
					<key>station</key>
					<string>1208</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>石榴</string>
					<key>station</key>
					<string>1209</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>斗六</string>
					<key>station</key>
					<string>1210</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>斗南</string>
					<key>station</key>
					<string>1211</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>石龜</string>
					<key>station</key>
					<string>1212</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>locationZh</key>
			<string>嘉義</string>
			<key>stations</key>
			<array>
				<dict>
					<key>nameZh</key>
					<string>大林</string>
					<key>station</key>
					<string>1213</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>民雄</string>
					<key>station</key>
					<string>1214</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>嘉北</string>
					<key>station</key>
					<string>1241</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>嘉義</string>
					<key>station</key>
					<string>1215</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>水上</string>
					<key>station</key>
					<string>1217</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>南靖</string>
					<key>station</key>
					<string>1218</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>locationZh</key>
			<string>臺南</string>
			<key>stations</key>
			<array>
				<dict>
					<key>nameZh</key>
					<string>後壁</string>
					<key>station</key>
					<string>1219</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>新營</string>
					<key>station</key>
					<string>1220</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>柳營</string>
					<key>station</key>
					<string>1221</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>林鳳營</string>
					<key>station</key>
					<string>1222</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>隆田</string>
					<key>station</key>
					<string>1223</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>拔林</string>
					<key>station</key>
					<string>1224</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>善化</string>
					<key>station</key>
					<string>1225</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>南科</string>
					<key>station</key>
					<string>1244</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>新市</string>
					<key>station</key>
					<string>1226</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>永康</string>
					<key>station</key>
					<string>1227</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>大橋</string>
					<key>station</key>
					<string>1239</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>臺南</string>
					<key>station</key>
					<string>1228</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>保安</string>
					<key>station</key>
					<string>1229</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>仁德</string>
					<key>station</key>
					<string>1243</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>中洲</string>
					<key>station</key>
					<string>1230</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>長榮大學</string>
					<key>station</key>
					<string>5101</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>沙崙</string>
					<key>station</key>
					<string>5102</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>locationZh</key>
			<string>高雄</string>
			<key>stations</key>
			<array>
				<dict>
					<key>nameZh</key>
					<string>大湖</string>
					<key>station</key>
					<string>1231</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>路竹</string>
					<key>station</key>
					<string>1232</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>岡山</string>
					<key>station</key>
					<string>1233</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>橋頭</string>
					<key>station</key>
					<string>1234</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>楠梓</string>
					<key>station</key>
					<string>1235</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>新左營</string>
					<key>station</key>
					<string>1242</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>左營</string>
					<key>station</key>
					<string>1236</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>高雄</string>
					<key>station</key>
					<string>1238</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>鳳山</string>
					<key>station</key>
					<string>1402</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>後庄</string>
					<key>station</key>
					<string>1403</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>九曲堂</string>
					<key>station</key>
					<string>1404</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>locationZh</key>
			<string>屏東</string>
			<key>stations</key>
			<array>
				<dict>
					<key>nameZh</key>
					<string>六塊厝</string>
					<key>station</key>
					<string>1405</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>屏東</string>
					<key>station</key>
					<string>1406</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>歸來</string>
					<key>station</key>
					<string>1407</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>麟洛</string>
					<key>station</key>
					<string>1408</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>西勢</string>
					<key>station</key>
					<string>1409</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>竹田</string>
					<key>station</key>
					<string>1410</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>潮州</string>
					<key>station</key>
					<string>1411</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>崁頂</string>
					<key>station</key>
					<string>1412</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>南州</string>
					<key>station</key>
					<string>1413</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>鎮安</string>
					<key>station</key>
					<string>1414</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>林邊</string>
					<key>station</key>
					<string>1415</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>佳冬</string>
					<key>station</key>
					<string>1416</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>東海</string>
					<key>station</key>
					<string>1417</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>枋寮</string>
					<key>station</key>
					<string>1418</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>加祿</string>
					<key>station</key>
					<string>1502</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>內獅</string>
					<key>station</key>
					<string>1503</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>枋山</string>
					<key>station</key>
					<string>1504</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>locationZh</key>
			<string>臺東</string>
			<key>stations</key>
			<array>
				<dict>
					<key>nameZh</key>
					<string>古莊</string>
					<key>station</key>
					<string>1507</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>大武</string>
					<key>station</key>
					<string>1508</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>瀧溪</string>
					<key>station</key>
					<string>1510</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>金崙</string>
					<key>station</key>
					<string>1512</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>太麻里</string>
					<key>station</key>
					<string>1514</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>知本</string>
					<key>station</key>
					<string>1516</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>康樂</string>
					<key>station</key>
					<string>1517</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>臺東</string>
					<key>station</key>
					<string>1632</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>山里</string>
					<key>station</key>
					<string>1631</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>鹿野</string>
					<key>station</key>
					<string>1630</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>瑞源</string>
					<key>station</key>
					<string>1629</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>瑞和</string>
					<key>station</key>
					<string>1628</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>關山</string>
					<key>station</key>
					<string>1626</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>海端</string>
					<key>station</key>
					<string>1625</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>池上</string>
					<key>station</key>
					<string>1624</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>locationZh</key>
			<string>花蓮</string>
			<key>stations</key>
			<array>
				<dict>
					<key>nameZh</key>
					<string>富里</string>
					<key>station</key>
					<string>1623</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>東竹</string>
					<key>station</key>
					<string>1622</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>東里</string>
					<key>station</key>
					<string>1621</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>玉里</string>
					<key>station</key>
					<string>1619</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>三民</string>
					<key>station</key>
					<string>1617</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>瑞穗</string>
					<key>station</key>
					<string>1616</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>富源</string>
					<key>station</key>
					<string>1614</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>大富</string>
					<key>station</key>
					<string>1613</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>光復</string>
					<key>station</key>
					<string>1612</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>萬榮</string>
					<key>station</key>
					<string>1611</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>鳳林</string>
					<key>station</key>
					<string>1610</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>南平</string>
					<key>station</key>
					<string>1609</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>豐田</string>
					<key>station</key>
					<string>1607</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>壽豐</string>
					<key>station</key>
					<string>1606</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>平和</string>
					<key>station</key>
					<string>1605</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>志學</string>
					<key>station</key>
					<string>1604</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>吉安</string>
					<key>station</key>
					<string>1602</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>花蓮</string>
					<key>station</key>
					<string>1715</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>北埔</string>
					<key>station</key>
					<string>1714</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>景美</string>
					<key>station</key>
					<string>1713</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>新城</string>
					<key>station</key>
					<string>1712</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>崇德</string>
					<key>station</key>
					<string>1711</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>和仁</string>
					<key>station</key>
					<string>1710</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>和平</string>
					<key>station</key>
					<string>1709</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>locationZh</key>
			<string>宜蘭</string>
			<key>stations</key>
			<array>
				<dict>
					<key>nameZh</key>
					<string>漢本</string>
					<key>station</key>
					<string>1708</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>武塔</string>
					<key>station</key>
					<string>1706</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>南澳</string>
					<key>station</key>
					<string>1705</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>東澳</string>
					<key>station</key>
					<string>1704</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>永樂</string>
					<key>station</key>
					<string>1703</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>蘇澳</string>
					<key>station</key>
					<string>1827</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>蘇澳新</string>
					<key>station</key>
					<string>1826</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>新馬</string>
					<key>station</key>
					<string>1825</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>冬山</string>
					<key>station</key>
					<string>1824</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>羅東</string>
					<key>station</key>
					<string>1823</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>中里</string>
					<key>station</key>
					<string>1822</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>二結</string>
					<key>station</key>
					<string>1821</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>宜蘭</string>
					<key>station</key>
					<string>1820</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>四城</string>
					<key>station</key>
					<string>1819</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>礁溪</string>
					<key>station</key>
					<string>1818</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>頂埔</string>
					<key>station</key>
					<string>1817</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>頭城</string>
					<key>station</key>
					<string>1816</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>外澳</string>
					<key>station</key>
					<string>1815</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>龜山</string>
					<key>station</key>
					<string>1814</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>大溪</string>
					<key>station</key>
					<string>1813</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>大里</string>
					<key>station</key>
					<string>1812</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>石城</string>
					<key>station</key>
					<string>1811</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>locationZh</key>
			<string>平溪/深澳</string>
			<key>stations</key>
			<array>
				<dict>
					<key>nameZh</key>
					<string>菁桐</string>
					<key>station</key>
					<string>1908</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>平溪</string>
					<key>station</key>
					<string>1907</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>嶺腳</string>
					<key>station</key>
					<string>1906</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>望古</string>
					<key>station</key>
					<string>1905</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>十分</string>
					<key>station</key>
					<string>1904</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>大華</string>
					<key>station</key>
					<string>1903</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>八斗子</string>
					<key>station</key>
					<string>2003</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>三貂嶺</string>
					<key>station</key>
					<string>1806</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>海科館</string>
					<key>station</key>
					<string>6103</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>locationZh</key>
			<string>內灣/六家</string>
			<key>stations</key>
			<array>
				<dict>
					<key>nameZh</key>
					<string>新竹</string>
					<key>station</key>
					<string>1025</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>北新竹</string>
					<key>station</key>
					<string>1024</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>千甲</string>
					<key>station</key>
					<string>2212</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>新莊</string>
					<key>station</key>
					<string>2213</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>竹中</string>
					<key>station</key>
					<string>2203</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>六家</string>
					<key>station</key>
					<string>2214</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>上員</string>
					<key>station</key>
					<string>2204</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>榮華</string>
					<key>station</key>
					<string>2211</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>竹東</string>
					<key>station</key>
					<string>2205</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>橫山</string>
					<key>station</key>
					<string>2206</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>九讚頭</string>
					<key>station</key>
					<string>2207</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>合興</string>
					<key>station</key>
					<string>2208</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>富貴</string>
					<key>station</key>
					<string>2209</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>內灣</string>
					<key>station</key>
					<string>2210</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>locationZh</key>
			<string>集集</string>
			<key>stations</key>
			<array>
				<dict>
					<key>nameZh</key>
					<string>二水</string>
					<key>station</key>
					<string>1207</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>源泉</string>
					<key>station</key>
					<string>2702</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>濁水</string>
					<key>station</key>
					<string>2703</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>龍泉</string>
					<key>station</key>
					<string>2704</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>集集</string>
					<key>station</key>
					<string>2705</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>水里</string>
					<key>station</key>
					<string>2706</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>車埕</string>
					<key>station</key>
					<string>2707</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>locationZh</key>
			<string>沙崙</string>
			<key>stations</key>
			<array>
				<dict>
					<key>nameZh</key>
					<string>長榮大學</string>
					<key>station</key>
					<string>5101</string>
				</dict>
				<dict>
					<key>nameZh</key>
					<string>沙崙</string>
					<key>station</key>
					<string>5102</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
